*{
      font-family: 'Urbanist';
    }
    /* Swiper komponentining asosiy o'rnatilishi */
    .mySwiper {
      width: 100% ;
      height: 100vh;
      position: relative;
    }
    
    /* Maxsus raqamli indikatorlar (progress steps) */
    .custom-bullet {
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      width: 35px !important;
      height: 35px !important;
      margin: 5px 0  !important;
      border: 2px solid #00ff99  !important; 
      border-radius: 50% !important; 
      font-size: 14px  !important;
      color: white !important;
      background-color: transparent  !important;
      transition: all 0.3s ease-in-out !important;
    }
    
    .custom-bullet.swiper-pagination-bullet-active {
      background-color:#00ff99  !important;
      color: black !important; 
    }
    
    
    .wrapper{
      max-width: 1440px;
      margin: 0 auto;
      padding: 0 20px;
    }